* {
    margin: 0px;
    padding: 0px;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(7, 7, 7);
}

.container {
    margin: 0 auto;
    width: 70%;
    height: auto;
    background-color: rgb(7, 7, 7);
}

.nav_bar {
    margin: 0 auto;
    padding: 15px;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.logo_title {
    font-weight: 800;
    font-style: italic;
    font-size: 3rem;
    color: #E6533C;
}


.nav_items {
    display: flex;
    justify-content: space-around;
    gap: 47px;
    font-size: 1.2rem;
    align-items: center;
    border: 1px solid rgba(99, 99, 99, .7);
    border-radius: 40px;
    padding: 0px 10px;
}

#home {
    background-color: #E6533C;
    border-radius: 18px;
    display: flex;
    padding: 5px 15px;
    font-weight: 600;
}

.nav_items p {
    color: white;
}

.bars {
    display: none;
}


/* banner stats from here */
.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.h_title {
    /* border: 1px solid white; */
}

.title {

    margin-top: 96px;
    color: white;
    font-size: 4rem;
    font-weight: 1000;
}

.shape {
    font-style: italic;
    font-weight: 100;
    font-size: 4rem;
}

.title_des {
    color: rgba(255, 255, 255, .5);
    width: 80%;
    margin-bottom: 25px;
}

.btn {}

.btn_join {

    font-size: 1.2rem;
    color: white;
    padding: 10px 30px;
    margin: 3px;
    border-radius: 50px;
    background-color: #E6533C;
    border: none;
}

.btn_download {

    font-size: 1.2rem;
    color: white;
    padding: 10px 30px;
    margin: 3px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .5);
}

.h_img {
    position: relative;
    /* border: 1px solid white; */
    padding-left: 25%;
}




/* floting icon */
.icon {
    position: absolute;
    top: 390px;
    left: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;

}

.i500 {
    top: 160px;
    left: 380px;
}

.circle {
    background-color: #E6533C;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.fonts {
    margin: 10px;
}

.fonts>h1 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 800;
}

.fonts>p {
    color: rgba(255, 255, 255, 0.719);
    font-size: 1rem;
    font-weight: 400;
}


/* habits from here */
.habits_container {
    width: 80%;
    margin: 100px auto 0 auto;
}

.habit_h1 {
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    text-align: center;
    font-weight: 1000;
    padding: 10px;
    margin-bottom: 50px;
}

.habit_h1>p {
    font-size: 1rem;
    color: #ffffffa2;
    margin: 0 10px;
    font-weight: 100;
    margin-top: 10px;
}

.habits_card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.habit_card {
    text-align: center;
    padding-bottom: 100px;
}

.habit_card h3 {
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.habit_card p {
    color: rgba(255, 255, 255, 0.432);
    font-size: .8rem;
    font-weight: 400;
}

.habit_card>img {
    margin-bottom: 15px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: rgba(138, 136, 136, 0.596) solid 2px;
}


/* run section  */

.run_containr {
    background-color: #222222;
    width: 80%;
    margin: 0 auto 75px auto;
    display: flex;
    border-radius: 15px;
    justify-content: space-between;


}

.run_title {
    padding: 40px;
    width: 40%;
}

.run_title>h1 {
    color: white;
    font-weight: 1000;
    font-size: 3.5rem;
    padding-bottom: 25px;

}

.run_title p {
    color: rgba(255, 255, 255, 0.473);
    font-weight: 200;
    padding-bottom: 25px;
}

.run_btn {
    padding: 15px 60px;
}

.run_img img {
    width: 350px;
    height: 300px;
    padding: 20px;
    border-radius: 10%;
    margin-top: 20px;

}

/* meet trainer  */
.meet_h1 {
    width: 70%;
    margin: 0 auto;

}

.test {
    width: 70%;
}

.meet_h1>h1 {
    font-size: 4rem;
    font-weight: 1000;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.meet_h1>p {
    font-size: 1rem;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.541);
    text-align: center;
}


.meet_trainer {
    width: 80%;
    margin: 50px auto 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 15px;
}

.trainer_info {
    position: relative;
    padding: 15px;

}

.trainer_info>img {
    width: 316px;
    height: 262px;
    border-radius: 15px;
}

.t_name {
    position: absolute;
    top: 210px;
    left: 30px;

}

.t_name>h3 {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.t_name>p {
    color: rgba(255, 255, 255, 0.493);
    font-size: 1rem;
    font-weight: 400;
}


/* fotoer  */

.footer {
    color: white;
}

.f_logo p {}

.f_logo>p {
    padding: 25px;
}


.f_div {

    width: 80%;
    margin: 10px auto 100px auto;
    color: rgba(255, 255, 255, 0.623);
    display: grid;
    grid-template-columns: repeat(1, 2fr) repeat(2, 1fr);
    gap: 50px;
    font-weight: 400;
}

.get_started h2 {
    font-size: 2rem;
    color: white;
    padding: 25px;
}

.get_started ul li {
    font-size: 1.2rem;
    list-style-type: none;
    padding-left: 20px;
    padding-top: 10px;

}

hr {

    background-color: #ffffff17;
}


.reserved {
    padding: 30px;
    color: rgba(255, 255, 255, 0.603);
    text-align: center;
}



/* bmi section  */

.bmi_title {
    color: white;
    width: 40%;
    margin: 0 auto;
    text-align: left;

}

.bmi_title>h1 {
    font-size: 4rem;
    font-weight: 1000;
    margin-bottom: 30px;
}

.bmi_title>p {
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff7e;
    margin-bottom: 30px;
}


/* bmi chart */

.bmi_container {
    background-color: #222222;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.bmi_chart {
    margin: 40px;
}

.bmi_chart h3 {
    color: white;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 30px;
}

.bmi_cal {}

.bmi_table {
    width: 70%;
    border-collapse: collapse;
}

#bmi_id {
    font-weight: 400;
    color: white;
}

td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddddddab;
    color: #ffffff75;
}

.bmi_cal {
    margin: 40px;



}

.for_in {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bmi_cal h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

.bmi_cal p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin-bottom: 20px;
}

.bmi_from input,
select {
    width: 75%;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff7e;
    background-color: #ffffff38;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin: 8px;
}

#selec {
    width: 90%;
}

#selec2 {
    width: 95%;
}

input::placeholder {
    color: #888888;
}





@media screen and (max-width: 576px) {

    /* responsive only for navbar */
    .container {
        width: 100%;
        padding-top: 20px;
        gap: 10px;
    }

    .nav_items {
        display: none;

    }

    .bars {
        display: block;
        color: white;
        font-size: 2rem;
        align-items: center;
        margin-top: 10px;
    }

    /* for banner */

    .banner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .title {

        margin-top: 40px;
        color: white;
        font-size: 2rem;
        font-weight: 1000;
    }

    .shape {
        font-style: italic;
        font-weight: 100;
        font-size: 3rem;
    }

    .title_des {
        color: rgba(255, 255, 255, .5);
        width: 80%;
        margin-bottom: 25px;
    }

    .btn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .btn_join,
    .btn_download {

        padding: 12px;
    }

    .icon {

        top: 280px;
        left: 0px;
    }

    .i500 {
        top: 50px;
        left: 180px;

    }

    .h_img {
        padding: 0px;
    }

    /* habbit form here */
    .habits_card_container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* run section */
    .run_containr {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* margin: 0 auto; */
        align-items: center;
    }

    .run_title>h1 {
        font-size: 2rem;
    }

    .run_title {
        padding: 30px;
        width: 70%;
        /* border: #E6533C solid 1px; */
    }

    .run_title>p {
        color: rgba(255, 255, 255, 0.473);
        font-weight: 200;
        padding-bottom: 25px;
        width: 100%;
    }

    .run_btn {
        padding: 15px 80px;

    }

    .run_img img {
        width: 300px;
        height: 300px;
        padding: 20px;
        border-radius: 10%;
        object-fit: cover;
    }

    /* <!-- meet our teem  --> */
    .meet_trainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .meet_h1>h1 {
        font-size: 3rem;
        width: 80%;
        margin: 0 auto;
    }

    /* footer  */
    .f_div {
        grid-template-columns: repeat(1, 1fr);
    }

/* bmi section  */
.bmi_container{
    grid-template-columns: repeat(1,1fr);
}
.bmi_title h1{
    font-size: 2rem;
   
}
.bmi_title{
    margin-left: 60px;
    width: 80%;


}
}