* {
    margin: 0px;
    padding: 0px;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    margin: 0 auto;
    width: 70%;
    height: auto;
    background-color: rgb(7, 7, 7);
}

.nav_bar {
    margin: 0 auto;
    padding: 15px;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.logo_title {
    font-weight: 800;
    font-style: italic;
    font-size: 3rem;
    color: #E6533C;
}


.nav_items {
    display: flex;
    justify-content: space-around;
    gap: 47px;
    font-size: 1.2rem;
    align-items: center;
    border: 1px solid rgba(99, 99, 99, .7);
    border-radius: 40px;
    padding: 0px 10px;
}

#home {
    background-color: #E6533C;
    border-radius: 18px;
    display: flex;
    padding: 5px 15px;
    font-weight: 600;
}

.nav_items p {
    color: white;
}

.bars {
    display: none;
}


/* banner stats from here */
.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.h_title {
    /* border: 1px solid white; */
}

.title {

    margin-top: 96px;
    color: white;
    font-size: 4rem;
    font-weight: 1000;
}

.shape {
    font-style: italic;
    font-weight: 100;
    font-size: 4rem;
}

.title_des {
    color: rgba(255, 255, 255, .5);
    width: 80%;
    margin-bottom: 25px;
}

.btn {}

.btn_join {

    font-size: 1.2rem;
    color: white;
    padding: 10px 30px;
    margin: 3px;
    border-radius: 50px;
    background-color: #E6533C;
    border: none;
}

.btn_download {

    font-size: 1.2rem;
    color: white;
    padding: 10px 30px;
    margin: 3px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .5);
}

.h_img {
    position: relative;
    /* border: 1px solid white; */
    padding-left: 25%;
}




/* floting icon */
.icon {
    position: absolute;
    top: 390px;
    left: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;

}

.i500 {
    top: 160px;
    left: 380px;
}

.circle {
    background-color: #E6533C;
    border-radius: 50px;
    /* border: 1px solid black; */
    width: 50px;
    height: 50px;
}

.fonts {
    margin: 10px;
}

.fonts>h1 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 800;
}

.fonts>p {
    color: rgba(255, 255, 255, 0.719);
    font-size: 1rem;
    font-weight: 400;
}

/* habits from here */
.habits{
    width: 80%;
    margin: 0 auto;

}
.habit_h1{
    color: rgb(255, 255, 255);
    font-size: 2rem;

}
.habit_h1 >p{
    font-size: 1rem;
    color: #ffffffa2;
}
.habits_card_container{

}

.habit_card{

}
.card_img{

}







@media screen and (max-width: 425px) {
    /* responsive only for navbar */
    .container {
        width: 100%;
        padding-top: 20px;
        gap: 10px;
    }

    .nav_items {
        display: none;

    }

    .bars {
        display: block;
        color: white;
        font-size: 2rem;
        align-items: center;
        margin-top: 10px;
    }
/* for banner */

.banner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}
.title {

    margin-top: 40px;
    color: white;
    font-size: 2rem;
    font-weight: 1000;
}

.shape {
    font-style: italic;
    font-weight: 100;
    font-size: 3rem;
}

.title_des {
    color: rgba(255, 255, 255, .5);
    width: 80%;
    margin-bottom: 25px;
}
.btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.btn_join ,.btn_download{
   
    padding: 12px;
}
.icon {
    
    top: 280px;
    left: 0px;
}
.i500 {
    top: 50px;
    left: 180px;
    
}
.h_img{
    padding: 0px;
}











}
